* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body,section {
	height: 100%;
	overflow: hidden;
}

body {
	font: 14px/1.5 cursive;
	position: relative;
}

ul li {
	list-style: none;
}

.layout {
	margin: 0 auto;
	width: 600px;
}

@media screen and (min-width: 700px){
	.layout {
		width: 600px;
	}
}

@media screen and (min-width: 900px){
	.layout {
		width: 800px;
	}
}

@media screen and (min-width: 1000px){
	.layout {
		width: 900px;
	}
}

@media screen and (min-width: 1200px){
	.layout {
		width: 1100px;
	}
}


#page-cover {
	display: none;
}

.bg {
	position: absolute;
	z-index: -1;
	top: -10px;
	left: -10px;
	bottom: -10px;
	right: -10px;
	background: url(http://img.bimg.126.net/photo/ZZ5EGyuUCp9hBPk6_s4Ehg==/5727171351132208489.jpg) center/cover no-repeat;
	filter: blur(5px);
}

.bg::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background:rgba(0,0,0,0.3);
}

main {
	padding-top: 12vh;
	height: calc(100% - 24vh);
}

main::after {
	content: '';
	display: block;
	clear: both;
}

main .aside {
	float: left;
}

main .aside >figure {
	height: 46vh;
	width: 46vh;
	background: url(http://img.bimg.126.net/photo/ZZ5EGyuUCp9hBPk6_s4Ehg==/5727171351132208489.jpg) center/cover no-repeat;
}

main .aside >.control {
	margin-top: 4vh;
	display: flex;
}

main .aside .iconfont {
	flex: 1;
	text-align: center;
	font-size: 5vh;
	color: rgba(255,255,255,0.5);
	transition: color .4s;
	cursor: pointer;
}

main .aside .iconfont:hover {
	color: #fff;
}

main .aside .iconfont.active {
	color: #e64924;
}

main .detail {
	margin-left: 54vh;
}

main .detail .tag {
	font-size: 2vh;
	padding: .4em .8em;
	background: #8aefc6;
}


main .detail .title {
	margin-top: 4vh;
	font-size: 6vh;
	color: rgba(255,255,255,0.8);
}

main .detail .icons {
	display: flex;
	margin-top: 10vh;
	font-size: 3vh;
	color: rgba(255,255,255,0.8);
}

main .detail .icons>span{
	flex: 1;
}

main .detail .icons .iconfont {
	margin-right: 1vh;
	font-size: 3vh;
}

main .detail .music-progress {
	margin-top: 6vh;
	display: flex;
	align-items: center;
}

main .music-progress .bar {
	position: relative;
	flex: 1;
	height: .8vh;
	background: rgba(255,255,255,0.4);
	border-radius: .2vh;
	cursor: pointer;
}

main .music-progress .progress-now {
	position: absolute;
	top: 0;
	left: 0;
	height: .8vh;
	width: 50%;
	background: #f7920e;
	border-radius: .2vh;
	/*transition: width .8s;*/
}

main .music-progress .current-time {
	margin-right: 2vh;
	font-size: 3vh;
	color: rgba(255, 255, 255, 0.5);
}

main .music-progress .total-time {
	margin-left: 2vh;
	font-size: 3vh;
	color: rgba(255, 255, 255, 0.5);
}

main .detail .author {
  font-size: 3vh;
  margin-top: 2vh;
  color: rgba(255, 255, 255, 0.5);
}

main .detail .lyric {
  font-size: 3vh;
  margin-top: 3vh;
  color: rgba(255, 255, 255, 1);
}

footer {
	height: 24vh;
	color: #fff;
	background: rgba(255,255,255,0.1);
}

footer .layout {
	position: relative;
}

footer .music-box {
  position: relative;
  overflow: hidden;
  height: 24vh;
} 

footer ul{
  position: absolute;
  left: 0;
}
footer ul:after {
  content: '';
  display: block;
  clear: both;
}
footer li{
  float: left;
  margin-top: 1vh;
  margin: 2vh 2vh 0 2vh;
  width: 20vh;
  height: 20vh;
  text-align: center;
  cursor: pointer;
}

footer li:hover {
  box-shadow: 0 0 .5vh .5vh rgba(255,255,255,0.8);
}
footer li .cover {
  height: 16vh;
  background-size: cover;
  background-position: center;
}
footer h3{
  font-size: 2vh;
  color: rgba(255,255,255,0.6);
  margin-top: 1vh;
}

footer li.active {
  box-shadow: 0 0 .5vh .5vh rgba(255,255,255,0.8);
}


footer .iconfont {
	position: absolute;
	top: 4vh;
	font-size: 8vh;
	color: rgba(255, 255, 255, 0.6);
  opacity: 0;
  transition: all .4s;
  cursor: pointer;
}

footer .icon-left {
	left: -10vh;
}

footer .icon-right {
	right: -10vh;
}

footer:hover .iconfont{
	opacity: 1;
}

footer .iconfont.disabled {
	opacity: 0;
}
















